.container {
    max-width: 600px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #FCF8F5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(56, 78, 119, 0.1);
    margin-top: 30px;
}

header {
    margin-bottom: -20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #18314F;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 280px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

form {
    text-align: center;
    padding: 20px;
    display: flex;
}

footer {
    text-align: center;
    padding: 25px;
    font-size: 18px;
}

.instructions {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 15px;
}

.submit-button {
    padding: 15px 20px;
    width: 150px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: #18314F;
    color: white;
    border: none;
}

.submit-button:hover {
    background-color: #384E77;
    cursor: pointer;
    transition: 2ms ease-in-out;
}

.poem {
    text-align: center;
    color: #18314F;
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    line-height: 1.5;
    padding-bottom: 0;
    margin-bottom: 0;
}

.hidden {
    display: none;
}


@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.generating {
    animation: blink-animation 1s steps(5, start) infinite;
}