
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
}

img {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer {
    text-align: center;
    padding: 25px;
}

form {
    text-align: center;
}